<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>The Maze Project</title>
    <meta charset="utf-8" />

    <link href="Styles/bootstrap.css" rel="stylesheet" />
    <script src="Scripts/jquery-3.2.1.js"></script>
    <script src="Scripts/bootstrap.js"></script>
</head>
<body>
    <script src="Scripts/navbar.js"></script>
    <div id="navBar" />
    <h1>Play Maze Game</h1>
    <p>Play the original maze game for free.</p>
    <p>Play online against your friends.</p>
</body>
</html>