<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>The Maze Project</title>
    <meta charset="utf-8" />

    <link href="Styles/bootstrap.css" rel="stylesheet" />
    <script src="Scripts/jquery-3.2.1.js"></script>
    <script src="Scripts/bootstrap.js"></script>
</head>
<body>
    <div id="navBar">
    <nav  class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Maze</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="SingleGame.html">Single Game</a></li>
                <li><a href="MultiplayerGame.html">Multiplayer Game</a></li>
                <li><a href="Settings.html">Settings</a></li>
                <li><a href="UserRankings.html">User Rankings</a></li>
                <li></li>
                <li><a href="Register.html">Register</a></li>
                <li><a href="Login.html">Login</a></li>
            </ul>
        </div>
    </nav>
        </div>
    <h1>Play Maze Game</h1>
    <p>Play the original maze game for free.</p>
    <p>Play online against your friends.</p>  
</body>
</html>