
<div id="navBar">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="HomePage.html">Maze</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="SingleGame.html">Single Game</a></li>
                <li><a href="MultiplayerGame.html">Multiplayer Game</a></li>
                <li><a href="Settings.html">Settings</a></li>
                <li><a href="UserRankings.html">User Rankings</a></li>
                <li></li>
                <li><a href="Register.html">Register</a></li>
                <li><a href="Login.html">Login</a></li>
            </ul>
        </div>
    </nav>
</div>